<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Head Script Fragment</title>

    <th:block th:fragment="js">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
    <th:block th:fragment="header">
        <a th:href="@{/register}">註冊</a> | <a th:href="@{/login}">登入</a> | <a th:href="@{/logout}">登出</a>
    </th:block>
</body>
</html>
