<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <th:block th:replace="~{fragments/common :: js}"></th:block>
</head>
<body>
    <th:block th:replace="~{fragments/common :: header}"></th:block>
    <h1>我是首頁</h1>
    <th:block th:replace="~{fragments/chat :: websocket}"></th:block>
</body>
</html>